*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
body{
    background: #F3F5FC;
    width: 1440px;
    height: 1024px;
}
.contenedor-logo{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
    display: flex;
    padding: 0px;
    gap: 40px;
}
.text-area{
    display: flex;
    background: #F3F5FC;
    border: none;
    position: absolute;
    width: 577px;
    height: 480px;
    left: 240px;
    top: 168px;
    font-style: normal;
    color: #0A3871;
}
.text-area:focus{
    outline: none;
}
::placeholder{
    font-style: normal;
    color: #0A3871;
}
.caja-alerta{
    display: flex;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}
.img-alerta{
    width: 16px;
    height: 16px;
    
}
.alerta{
    margin-left: 8px;
    width: 205px;
    height: 18px;
    font-style: normal;
    font-size: 12px;
    color: #495057;
    opacity: 0.8
}
.botones{
    display: flex;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;


}
.btn-encriptar{
    display: inline-block;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-desencriptar{
    display: inline-block;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-style: normal;  
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    margin-left: 24px;
    cursor: pointer;
    
}
.seccion2{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.text-mensaje{
    display: none;
    border: none;
    margin: 32px 32px 0px 32px ;
    width: 336px;
    height: 781px;
    left: 1032px;
    top: 72px;
    font-style: normal;
    font-size: 24px;
    color: #495057;
}
.text-mensaje:focus{
    outline: none;
}
#contenedor-muneco{
    display: inline-block;
}
.contenedor-muneco{
    
    width: 336px;
    height: 304px;
    left: 1032px;
    top: 283px;
    margin: 243px 32px 0px 32px;
}
#textos{
    display: inline-block;
}
.texto1 h6{
    width: 336px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    margin: 0px 32px 16px 32px;
}
.texto2 p{
    width: 336px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    margin: 0px 32px 0px 32px;
}
#boton-copiar{
    display:none;
}
.boton-copiar{
    
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

.btn-copiar{
    
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-style: normal;  
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    margin:16px 32px 32px 32px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .contenedor-logo{
        margin-left: -40px;
        margin-top: 73px;
    }
    .text-area{
        position: absolute;
        width: 688px;
        height: 48px;
        left: 40px;
        top: 240px;

    }
    .caja-alerta{
        width: 230px;
        height: 18px;
        left: 64px;
        top: 836px;
    }
    .botones{
        width: 688px;
        height: 67px;
        left: 40px;
        top: 870px;
    }
    
    
    .seccion2{
        width: 688px;
        height: 133px;
        left: 40px;
        top: 1001px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .text-mensaje{
        width: 624px;
        height: 180px;
    }
    #contenedor-muneco{
        display: none;
    }
    .texto1 h6{
        width: 624px;
        height: 29px;
        padding-top: 32px;

    }
    .texto2 p{
        width: 624px;
        height: 24px;

    }
    .btn-copiar{
        width: 624px;
        height: 67px;
        background: #FFFFFF;
    }
}

@media screen and (max-width: 375px){
    .contenedor-logo{
        margin-left: -56px;
        margin-top: 23px;
    }
    .text-area{
        position: absolute;
        width: 343px;
        height: 624px;
        left: 16px;
        top: 152px;

    }
    .caja-alerta{
        width: 240px;
        height: 18px;
        left: 20px;
        top: 840px;
    }
    .botones{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 343px;
        height: 158px;
        left: 16px;
        top: 874px;
    }
    .btn-desencriptar{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    
    .seccion2{
        width: 343px;
        height: 595px;
        left: 16px;
        top: 1096px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .text-mensaje{
        display: inline-block;
        width: 279px;
        height: 432px;
    }
    #contenedor-muneco{
        display: none;
    }
    .texto1 h6{
       display: none;

    }
    .texto2 p{
        display: none;

    }
    #boton-copiar{
        display: inline-block;

    }
    .btn-copiar{
        width: 279px;
        height: 67px;
    }
}